{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/css/detail.css' %}">
  </head>

  <body>
    <p>
      <label for="iniad-id">Your ID</label>
      <input id="iniad-id" type="text">
    </p>
    <p>
      <label for="iniad-pw">Your Password</label>
      <input id="iniad-pw" type="password">
    </p>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>Status: Completed</li>
      {% else %}
      <li>Status: Not Completed</li>
      {% endif %}
    </ul>

    <div>
      <a href="{% url 'index' %}">Top</a>
      | <a href="{% url 'delete' task.id %}">Delete</a>
      | <a href="{% url 'update' task.id %}">Edit</a>
      | <a onclick="openYourLockerWithoutYourPermission()">Close</a>
    </div>
    <div class="result">
      <p>
        <span id="message-box"></span> <br />
        <span id="locker-result"></span> <br />
        <span id="locker-address"></span> <br />
        <span id="locker-floor"></span>
      </p>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'todo/js/open_locker.js' %}"></script>
</html>